@use "sass:math";

// --------------------------------
// 変数
// --------------------------------
$breakpoint: 768px; // ブレイクポイント
$sp-width: 375px; // スマートフォン幅
$pc-width: 1280px; // パソコン幅

// --------------------------------
// グローバルスタイル
// --------------------------------
body {
  font-size: calc(100vw * (100% / #{$sp-width}));
  @media screen and (min-width: $breakpoint) {
    font-size: min(calc(100vw * (100% / #{$pc-width})), 100%);
  }
}

// --------------------------------
// 関数
// --------------------------------
@function p2e($px, $fz-base: 16px) {
  @return #{math.div($px, $fz-base) * 1em};
}

// --------------------------------
// 個別スタイル
// --------------------------------
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1em;
  @media screen and (min-width: $breakpoint) {
    padding-inline: 2.5em;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;

  span {
    font-size: 0.75em;
    color: white;
  }
}

.p2e-example1 {
  font-size: p2e(16px);
}

.p2e-example2 {
  font-size: p2e(24px);
}

.p2e-example3 {
  font-size: p2e(32px);
}
