body {
  font-size: 4.2666666667vw;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  body {
    font-size: min(1.25vw, 16px);
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1.25em;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 2.5em;
  }
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10em;
  height: 3em;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
}
.btn span {
  font-size: 0.75em;
  color: white;
}

.p2v {
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 768px) {
  .p2v {
    font-size: 1.25vw;
  }
}

.min-p2v {
  font-size: min(16px, 4.2666666667vw);
}
@media screen and (min-width: 768px) {
  .min-p2v {
    font-size: min(16px, 1.25vw);
  }
}

.max-p2v {
  font-size: max(16px, 4.2666666667vw);
}
@media screen and (min-width: 768px) {
  .max-p2v {
    font-size: max(16px, 1.25vw);
  }
}

.p2r {
  font-size: 1em;
}