html {
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 768px) {
  html {
    font-size: min(1.25vw, 16px);
  }
}

body {
  margin: 0;
  padding: 20px 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 40px;
  }
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 3rem;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.btn1 span {
  font-size: 0.75rem;
  color: white;
}

.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 3rem;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.btn2 span {
  font-size: 0.75rem;
  color: white;
}

.btn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 3rem;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.btn3 span {
  font-size: 0.75rem;
  color: white;
}

.p2v {
  font-size: 4.2666666667vw;
}
@media screen and (min-width: 768px) {
  .p2v {
    font-size: 1.25vw;
  }
}

.min-p2v {
  font-size: min(16px, 4.2666666667vw);
}
@media screen and (min-width: 768px) {
  .min-p2v {
    font-size: min(16px, 1.25vw);
  }
}

.max-p2v {
  font-size: max(16px, 4.2666666667vw);
}
@media screen and (min-width: 768px) {
  .max-p2v {
    font-size: max(16px, 1.25vw);
  }
}

.p2r {
  font-size: 1rem;
}

.btn4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.25rem;
  height: 2.5rem;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}
.btn4 span {
  font-size: 0.75rem;
  color: white;
}