.container {
  contain: paint;
}

.inner {
  max-width: calc(1200px + 20px * 2);
  margin-inline: auto;
  padding-inline: 20px;

  @media (min-width: 768px) {
    padding-inline: 40px;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

.content__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

// ------------------------------------------------------
// FV スニペット ここから
// ------------------------------------------------------
.dot-filter-section {
  width: 100vw;
  height: 100vh;
  margin-left: calc(50% - 50vw);
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      rgb(0 0 0 / 20%) 1.2px,
      transparent 1.2px
    );
    background-size: 6px 6px;
    background-color: rgb(0 0 0 / 30%);
  }
}

// ------------------------------------------------------
// 通常Section スニペット ここから
// ------------------------------------------------------
.dot-filter {
  position: relative;
  width: 640px;
  aspect-ratio: 640 / 425;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      rgb(0 0 0 / 20%) 1.2px,
      transparent 1.2px
    );
    background-size: 6px 6px;
    background-color: rgb(0 0 0 / 30%);
    opacity: 1;
  }
}
