.container {
  contain: paint;
}

.first-section {
  position: sticky;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
  top: 0;
}
.first-section .first-section__blur-filter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
}

.second-section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
}
.second-section .second-section__text1 {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(0) translateY(20%);
          transform: translateX(0) translateY(20%);
  font-size: 2.5em;
  color: #fff;
}
.second-section .second-section__text1.fade-in-up {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
.second-section .second-section__text2 {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(0) translateY(20%);
          transform: translateX(0) translateY(20%);
  font-size: 1.5em;
  color: #fff;
}
.second-section .second-section__text2.fade-in-up {
  opacity: 1;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}