@use "sass:math";

// --------------------------------
// 変数
// --------------------------------
$breakpoint: 768px; // ブレイクポイント
$sp-width: 375px; // スマートフォン幅
$pc-width: 1280px; // パソコン幅

// --------------------------------
// 個別スタイル
// --------------------------------
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1em;
  @media screen and (min-width: $breakpoint) {
    padding-inline: 2.5em;
  }
}

.first-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
  position: sticky;
  top: 0;

  .first-section__blur-filter {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
  }
}

.second-section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;

  .second-section__title {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(20%);
    font-size: 2em;
    color: #fff;

    &.fade-in-up {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }
  }

  .second-section__subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(20%);
    font-size: 1em;
    color: #fff;

    &.fade-in-up {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }
  }
}
