.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1em;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 2.5em;
  }
}

.first-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat center/cover;
  position: sticky;
  top: 0;
}
.first-section .first-section__blur-filter {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
}

.second-section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 100vh;
}
.second-section .second-section__title {
  position: absolute;
  top: 35%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(20%);
          transform: translateX(-50%) translateY(20%);
  font-size: 2em;
  color: #fff;
}
.second-section .second-section__title.fade-in-up {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}
.second-section .second-section__subtitle {
  position: absolute;
  top: 45%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(20%);
          transform: translateX(-50%) translateY(20%);
  font-size: 1em;
  color: #fff;
}
.second-section .second-section__subtitle.fade-in-up {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease;
  transition: opacity 0.6s ease, transform 0.6s ease, -webkit-transform 0.6s ease;
}