.container {
  margin-block: 40px;
}

.inner {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .inner {
    padding-inline: 40px;
  }
}

.title {
  font-size: 24px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}