.container {
  margin-block: 40px;
}

.inner {
  max-width: calc(1200px + 20px * 2);
  margin-inline: auto;
  padding-inline: 20px;

  @media (min-width: 768px) {
    padding-inline: 40px;
  }
}

.title {
  font-size: 24px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}
