.inner {
  max-width: calc(1200px + 20px * 2);
  margin-inline: auto;
  padding-inline: 20px;

  @media (min-width: 768px) {
    padding-inline: 40px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-block: 20px;
  margin-bottom: 20px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ccc;
  }

  @media (min-width: 768px) {
    font-size: 32px;
    padding-block: 40px;
    margin-bottom: 40px;
  }
}
