.container {
  margin-block: 40px;
}

.inner {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}
@media (min-width: 768px) {
  .inner {
    padding-inline: 40px;
  }
}

.title {
  font-size: 24px;
  line-height: 1.6;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.pop-forward-card {
  width: 100%;
  aspect-ratio: 4/3;
  background: url(../img/bg.png) no-repeat center/cover;
  position: relative;
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.deco-01 {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  aspect-ratio: 1234/485;
}
.deco-01 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-02 {
  position: absolute;
  top: 4%;
  left: 3%;
  width: 27%;
  aspect-ratio: 372/177;
}
.deco-02 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-03 {
  position: absolute;
  top: 4%;
  right: 3%;
  width: 27%;
  aspect-ratio: 371/177;
}
.deco-03 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-04 {
  position: absolute;
  top: 3.2%;
  left: 10%;
  width: 19%;
  aspect-ratio: 252/399;
}
.deco-04 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-05 {
  position: absolute;
  top: 3.2%;
  right: 10%;
  width: 19%;
  aspect-ratio: 252/399;
}
.deco-05 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-06 {
  position: absolute;
  top: 7%;
  left: 36%;
  width: 28%;
  aspect-ratio: 1/1;
}
.deco-06 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-07 {
  position: absolute;
  bottom: 6%;
  left: 4%;
  width: 24%;
  aspect-ratio: 327/465;
}
.deco-07 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-08 {
  position: absolute;
  bottom: 6%;
  right: 4%;
  width: 24%;
  aspect-ratio: 331/410;
}
.deco-08 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-09 {
  position: absolute;
  bottom: 8%;
  left: 21.5%;
  width: 57%;
  aspect-ratio: 772/108;
}
.deco-09 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.deco-10 {
  position: absolute;
  bottom: 18%;
  left: 22%;
  width: 56%;
  aspect-ratio: 768/344;
}
.deco-10 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.pop-forward-animation {
  -webkit-animation: pop-forward 0.5s cubic-bezier(0.65, 1.39, 1, 1) forwards;
          animation: pop-forward 0.5s cubic-bezier(0.65, 1.39, 1, 1) forwards;
  opacity: 0;
}
.pop-forward-animation.delay-100 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.pop-forward-animation.delay-200 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.pop-forward-animation.delay-300 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.pop-forward-animation.delay-400 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.fade-in-animation {
  -webkit-animation: fade-in 0.5s ease forwards;
          animation: fade-in 0.5s ease forwards;
  opacity: 0;
}
.fade-in-animation.delay-1000 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.fade-in-animation.delay-1400 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.fade-in-and-floating-animation {
  -webkit-animation: fade-in 0.5s ease forwards, floating 3s ease-in-out infinite;
          animation: fade-in 0.5s ease forwards, floating 3s ease-in-out infinite;
  opacity: 0;
}
.fade-in-and-floating-animation.delay-1800 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes pop-forward {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-2000px) scale(0.5);
            transform: translateZ(-2000px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
  }
}

@keyframes pop-forward {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-2000px) scale(0.5);
            transform: translateZ(-2000px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
            transform: translateZ(0) scale(1);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@keyframes floating {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}