@use "sass:math";

// --------------------------------
// 変数
// --------------------------------
$breakpoint: 768px; // ブレイクポイント
$sp-width: 375px; // スマートフォン幅
$pc-width: 1280px; // パソコン幅

// --------------------------------
// 個別スタイル
// --------------------------------
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1em;
  @media screen and (min-width: $breakpoint) {
    padding-inline: 2.5em;
  }
}
