<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>002_dot-filter-movie</title>
    <link rel="stylesheet" href="../../common/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="inner">
        <!-- FV スニペットここから -->
        <section class="dot-filter-section">
          <video
            src="./assets/img/fv-bg.mp4"
            autoplay
            muted
            loop
            aria-hidden="true">
            <track kind="captions" src="" />
          </video>
          <h1 class="title">ドットフィルターエフェクト（動画）</h1>
        </section>
        <!-- FV スニペットここまで -->
        <hr />
        <div class="content__wrapper">
          <!-- 通常Section スニペットここから-->
          <div class="dot-filter">
            <video
              src="./assets/img/mov.mp4"
              autoplay
              muted
              loop
              aria-hidden="true">
              <track kind="captions" src="" />
            </video>
          </div>
          <!-- 通常Section スニペットここまで -->
        </div>
      </div>
    </main>
    <script src="./assets/js/script.js" defer></script>
  </body>
</html>
